/* Background video and audio*/
#background {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    filter: brightness(1.2);
    z-index: -2;
}

@font-face {
    font-family: Monaco;
    src: url(resources/fonts/Monaco.ttf)
}

* {
    font-family: Monaco, serif;
}

h1 {
    font-family: adobe-garamond-pro, serif;
}

body {
    margin: 0;
}

/* The nav section */
header {
    background-color: #1f2937;
}

#logo_img {
    float: left;
    height: 1em;
    width: 1em;
}

nav {
    flex: auto;
    padding-left: 10em;
    padding-right: 10em;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    column-gap: 50px;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

nav li, 
header p{
    font-family: adobe-garamond-pro, serif;
    font-weight: bold;
    font-size: 18px;
    color: #e5e7eb
}

nav ul #logo {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8
}

/* The first section */

.container {
    width: 85%;
    height: 100%;
    border-radius: 1.5em;
    margin: 9em auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 2em rgb(69 69 69);
}

#left {
    color: white;
    margin: 3em 2em 3em 5em;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#left h1 {
    font-size: 2.2em;
    text-align: center;
}

#left p {
    margin-top: 1em;
    font-size: 1.1em;
    line-height: 1.4em;
    text-align: justify;
}

.buttonContainer {
    margin-top: 3em;
}

#left a {
    color: #f9faf8;
    font-weight: 500;
    background-color: #1f2937;
    border-radius: 2em;
    border: 0.2em solid white;
    width: 10em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-decoration: none;
    margin: 0 auto;
}

#right {
    width: 50vw;
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right img{
    width: 35vw;
}

/* The second section */
#second {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgb(18, 64, 126), rgb(7, 16, 64));
    margin-top: 15em;
}

#second h1 {
    font-size: 36px;
    font-weight: bolder;
    color: white;
}

#second ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    flex: auto;
    padding-inline-start: 0px;
    color: white;
    text-align: center;
}

#second img {
    width: 12em;
    height: 14em;
}


/* The third section */
#third {
    background-image: url(resources/hanekawa-background-cropped.jpg);
    background-size: cover;
    background-position: 15%;
    background-position-y: -5em;
    object-fit: cover;
    background-attachment: local;
    border-top: .4rem solid rgba(7, 16, 64, 1);
    border-bottom: .4rem solid rgba(7, 16, 64, 1);
    margin-top: 15em;
}

#third div {
    padding: 10em 5em;
}

#third p {
    margin-block-start: 0px;
    font-size: 36px;
    font-style: italic;
    color: #e0d6c8;
    margin-block-end: 0px;
    text-align: center;
    border-radius: 1em;
    text-shadow: 0 0 1em black, 0 0 2em black;
    letter-spacing: 0.1em;
    margin: 0.5em 0;
}

#third #cite {
    margin-block-start: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: right;
}

#fourth {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
    margin-bottom: 10em;
}

#fourth #blue {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 75px;
    padding: 1.5em 4em;
    width: 750px;
    border-radius: 0.5em;
}

#fourth .left {
    flex: 1;
}

#fourth p {
    color: #f9faf8;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

#fourth #call {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0.35em;
}

#fourth .right {
    padding-left: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.35;
}

#fourth a {
    color: #f9faf8;
    font-weight: 500;
    background-color: #1f2937;
    border-radius: 0.5em;
    border: 0.1em solid white;
    width: 13em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-decoration: none;
    margin: 0 auto;
}

/* Footer */
footer {
    background-color: #1f2937;
    padding: 10px;
}

footer p {
    text-align: center;
    color: #e5e7eb;
}
