header {
    display: flex;
    justify-content: flex-end;
    background-color: #1f2937;
}

nav {
    flex: auto;
    padding-left: 100px;
    padding-right: 100px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    column-gap: 50px;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

nav li {
    font-size: 18px;
    color: #e5e7eb
}

nav ul #logo {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8
}